*, html, body{
    color: #4D4747;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

/* Header ========================= */

.menu-superior{
    padding: 15px 0px 10px 0px;
}

.navbar{
    margin-bottom: 10px;
}

.text-nav, .text-nav:hover{
    margin-inline-start: 100px;
    color: #4D4747;
    font-weight: 600;
    text-decoration: none;
    font-size: 40px;
}

.nav-link{
    font-size: 22px;
    color: #4D4747;
    transition: color 0.5s ease-in-out;
}

.nav-link:hover{
    color: #7FC732;
}

.main-logo{
    position: absolute;
    width: 75px;
    height: 75px;
}

.arrow-left{
    width: 30px;
    margin: 0 auto;
    margin-right: -13px;
}

.main-line{
    width: 100%;
}

/* Content ======================== */

.main{
    margin-top: 50px;
}

.btn-success{
    background-color: #7FC732;
    border-color: #7FC732;
    transition: background-color 0.75s ease-in-out,
                border-color 0.75s ease-in-out;
}

.btn-success:hover{
    background-color: #41b7d8;
    border-color: #41b7d8;
}

    /* Comentários  */
.caixa-comentario{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 5px;
    min-height: 100px;
    padding-left: 30px;
    padding-top: 15px;
    border: solid;
    border-width: 1px;
    border-radius: 12px;
    border-color: #DCDCDC;
    font-size: 16px;
}

.data-comentario{
    font-size: 12px;
}

/* Form =========================== */

.input-descricao{
    height: 200px;
}

.cod{
    width: 250px;
}

.save{
    margin-bottom: 50px;
}

/* Footer ========================= */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px;
}

.rodape{
    color: #4D4747;
}