{% extends 'tickets/base.html' %}

{% block content %}
    <h1>Nova Solicitação</h1>
    <br />
    <form method="POST" class="ticket-form">
        {% csrf_token %}
        {% for field in form %}
            {% if field.id_for_label == "id_titulo" or field.id_for_label == "id_descricao" %}
                <div class="form-group">
                    {{ field.label_tag }}<br />
                    {{ field }}
                </div>
                <br />
            {% elif field.id_for_label == "id_autor" %}
                <div class="row">
                    <div class="form-group col">
                        {{ field.label_tag }}<br />
                        {{ field }}
                    </div>
                    <br />
            {% elif field.id_for_label == "id_departamento" %}
                    <div class="form-group col">
                        {{ field.label_tag }}<br />
                        {{ field }}
                    </div>
                    <br />
                </div> <!-- row -->
            {% else %}
                <div class="form-group col">
                    {{ field.label_tag }}<br />
                    {{ field }}
                </div>
                <br />
            {% endif %}            
        {% endfor %}
        <button type="submit" class="save btn btn-success">Enviar</button>
    </form>
{% endblock %}